*
{
    font-family: 'PT Serif', serif;
}

body
{
    padding-top:54px;
}

.jumbotron .container
{
    max-width:55rem;
}

h1,
.navbar-brand
{
    font-family: 'PT Sans', sans-serif;
}

.navbar-brand
{
    color: #a30101;
}

.getting-started
{
    margin-top: 1rem;
    padding: 2rem;
}

footer
{
    margin-top: 1rem;
    border-top: 1px solid #ccc;
}