<html silly:view="comingsoon">
    <head>
        <title silly:text="pagetitle">{pagetitle}</title>
        <link href="https://fonts.googleapis.com/css?family=Rubik|Marcellus" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://s3-us-west-1.amazonaws.com/sillywidgets.com/css/style.css">
    </head>
    <body class="align-center">
        <h1 silly:text="heading">{heading}</h1>
        <h2 silly:text="subheading">{subheading}</h2>
        <p silly:text="description">{description}</p>
        <h3 silly:text="launchdate">{launchdate}</h3>
        <p><small silly:text="contact">{contact email}</small></p>
    </body>
</html>